@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --red: #db0414;
  --rosa-light: #c60842;
  --rosa-dark: #ac0e65;
  --morado-light: #7c1773;
  --morado-dark: #331f36;
  --white-text: #f5f5f5;
  --white-p: #f5f5f5eb;

  --fond: #161616;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--fond);
  font-family: "Permanent Marker", cursive;
}
/* ---Nabvar--- */
.nabvar {
  display: grid;
}
.nabvar_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
  transition: all 0.5s ease;
  position: fixed;
  width: 100%;
}
.active_nabvar_fixed {
  background-color: rgba(22, 22, 22, 0.9);
  transition: all 0.5s ease;
  margin-bottom: 0;
}
.tittle_navbar {
  font-weight: 400;
  font-size: 18px;
  color: var(--white-text);
  text-shadow: 6px 6px 12px rgba(102, 102, 102, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.1);
}
.container_menu_nabvar {
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.container_menu_nabvar span {
  display: block;

  height: 2px;
  margin-top: 5px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.line1_menu {
  background-color: var(--red);
}
.line2_menu {
  background-color: var(--rosa-light);
  width: 75%;
  margin-left: 25%;
}
.line3_menu {
  background-color: var(--morado-light);
}
.active_line1_menu {
  transform: rotate(90deg);
}
.active_line2_menu {
  transform: rotate(90deg) translate(-50%, -0);
}
.active_line3_menu {
  transform: rotate(90deg) translate(-14px, -16px);
}
.menu_responsive {
  display: flex;
  width: 100%;
  height: 100vh;
  left: -100%;
  top: 0;
  align-items: center;
  position: absolute;
  flex-direction: column;
  text-align: center;
  margin-top: 47px;
  transition: all 1000ms;
  background-color: rgba(22, 22, 22, 0.9);
}
.active_menu_responsive {
  display: flex;
  left: 0;
  transition: all 1000ms;
  position: fixed;
}
.scrollStop {
  overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 100px;
}
.menu_responsive ul li a {
  color: var(--white-p);
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.menu_responsive ul li hr {
  margin-bottom: 1.5rem;
}
.menu_responsive ul li {
  list-style: none;
}
/* ---Header--- */
.principal_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image_container {
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-rows: 128px 72px auto;
  grid-template-columns: 100px 100px auto;
  min-width: 360px;
  height: 330px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.image_logo_the_lu,
.iam {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.image_logo_the_lu {
  grid-row-start: 1;
  grid-column-start: 2;
  box-shadow: inset 20px 20px 50px #090909, inset -20px -20px 50px #232323;
}
.iam {
  grid-column-start: 1;
  grid-row: 2;
  box-shadow: 20px 20px 40px #090909; /* , 5px 5px 20px #262626; */
  /*   box-shadow:  20px -20px 40px #090909,
             -1px 1px 50px #232323; */
}
.presentation_container {
  text-align: center;
  color: var(--white-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.tittle_secundary {
  font-size: 25px;
  font-weight: 400;
}
.tittle_firts {
  font-size: 50px;
  font-weight: 400;
  text-shadow: -15px -15px 30px rgba(102, 102, 102, 0.2),
    15px 15px 30px rgba(255, 255, 255, 0.1);
}
.line_firts {
  width: 200px;
  border: none;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 35px;
  background: radial-gradient(
    100% 3841599.97% at 0% -500.09%,
    #7c1773 6.77%,
    #c60842 52.08%,
    #db0414 100%
  );
}
.paragraph_firt {
  font-weight: 400;
  font-size: 22px;
  padding: 0 60px;
  margin-bottom: 65px;
}
.buttons_sociales {
  width: 360px;
  /* padding: 0 50px; */
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 7rem;
}
.button_social {
  width: 60px;
  height: 60px;
  background: #161616;
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #090909, -5px -5px 10px #232323;
  /* box-shadow:  -5px 5px 8px var(--morado-dark),
             5px -5px 8px var(--red); */
}
.buttons_sociales img {
  width: 80%;
  height: 80%;
  padding: 5%;
}
/* main */
.tittles {
  font-size: 25px;
  color: var(--white-text);
  font-weight: 400;
}
.line {
  border: none;
  height: 5px;
  border-radius: 5px;

  background: radial-gradient(
    100% 3841599.97% at 0% -500.09%,
    #7c1773 6.77%,
    #c60842 52.08%,
    #db0414 100%
  );
}

/* --about me-- */
.section_about {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 7.75rem;
}

.section_about .line {
  width: 150px;
  margin-bottom: 30px;
}
.paragraph_about {
  color: var(--white-p);
  font-weight: 400;
  font-size: 1rem;
}
/* -- skills -- */
.section_skrills {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  background: #161616;
  box-shadow: 30px 30px 60px #090909, -30px -30px 60px #232323;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 7.75rem;
}
.section_skrills > .line {
  width: 80px;
}
.container_skills {
  width: 200px;
}
.skills {
  margin-top: 1.5rem;
  color: var(--white-text);
  font-size: 1rem;
}
.bars_container {
  width: 200px;
  height: 0.5rem;
  margin-top: 0.2rem;
  border: 0.01px solid var(--white-text);
  border-radius: 5px;
}
.bars_skrills {
  border: none;
  height: 100%;
  border-radius: 5px;
  width: 10%;
  background: radial-gradient(
    100% 3841599.97% at 0% -500.09%,
    #7c1773 6.77%,
    #c60842 52.08%,
    #db0414 100%
  );
}
.active_stack {
  animation: stack-bar 2s forwards;
}
@keyframes stack-bar {
  100% {
    width: 90%;
  }
}
.active_desiguer {
  animation: desiguer-bar 2s forwards;
}
@keyframes desiguer-bar {
  100% {
    width: 75%;
  }
}
.active_web {
  animation: web-bar 2s forwards;
}
@keyframes web-bar {
  100% {
    width: 80%;
  }
}
/* ---techonologies- */

.techonologies_container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 7.5rem;
}
.techonologies_container > div > .line {
  margin-bottom: 2.5rem;
}
.technologies_skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box_skill {
  height: 70px;
  width: 70px;
  margin: 1.25rem;
  border-radius: 10px;
  background: #161616;
  box-shadow: 7px 7px 14px #090909, -7px -7px 14px #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_skill > img {
  width: 50px;
  height: 50px;
}
/* briefcard */

.briefcase_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 7.5rem;
}
.briefcase_container > .line {
  width: 125px;
  margin-bottom: 2.5rem;
}
/* carrusel */
.briefcase_carrusel {
  position: relative;
}
.container_slide {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: -25px -25px 50px #232323, 25px 25px 50px #090909;
  overflow: hidden;
  transition: all 0.5s ease;

}
.slide {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: -100%;
}

.sectiom_slide {
  width: calc(100% / 3);
}
.img_slide {
  width: 250px;
  height: 250px;
}
.arrow {
  z-index: 20;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #161616;
  box-shadow: -1.5px -1.5px 3px rgba(35, 35, 35, 0.25),
    1.5px 1.5px 3px rgba(9, 9, 9, 0.25);
  position: absolute;
  font-weight: bold;
  margin: 0 auto;
  background: radial-gradient(
    120% 12000% at 120% 0%,
    var(--red) 0%,
    var(--morado-light) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
}
.arrow:hover {
  cursor: pointer;
}
.left {
  left: -3rem;
  top: calc(50% - 20px);
}
.rigth {
  right: -3rem;
  top: calc(50% - 20px);
}
/* contact */
.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_container > .line {
  width: 100px;
  margin-bottom: 2.5rem;
}
.contact_image_container {
  width: 150px;
  height: 150px;
  background: #161616;
  box-shadow: -15px -15px 30px #232323, 15px 15px 30px #090909;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
.contact_image_container > img {
  width: 90px;
  height: 70px;
}
footer {
  text-align: center;
  margin-bottom: 1rem;
}
footer > h2 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white-p);
}

/* responsive */
@media screen and (min-width: 744px) {
  .nabvar {
    justify-content: center;
  }
  .nabvar_first {
    padding: 0 0;
    justify-content: center;
  }
  .menu_responsive {
    left: 0;
    top: 0;
    position: relative;
    height: 3.5rem;
    width: 607px;
    margin-top: 1rem;
  }
  .menu_responsive ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .container_menu_nabvar {
    display: none;
  }
  .menu_responsive ul li a {
    font-size: 1rem;
    margin: 0 3px;
  }
  .tittle_navbar {
    display: none;
  }
  .menu_responsive ul li {
    margin: 0 0.5rem;
  }
  .menu_responsive ul li hr {
    width: 100%;
    height: 1.5px;
    padding: auto 0;
  }
  .active_nabvar_fixed {
    display: none;
    position: absolute;
  }

  .principal_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr auto;
  }
  .image_container {
    grid-column: 2/2;
    grid-row: 1/3;
  }
  .presentation_container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .buttons_sociales {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .image_container {
    padding: 0;
  }
  .image_logo_the_lu,
  .iam {
    width: 250px;
    height: 250px;
  }
  .iam {
    grid-column: 0/1;
    grid-row: 2/3;
  }
  .image_logo_the_lu {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tittle_secundary {
    font-size: 2rem;
  }
  .tittle_firts {
    font-size: 75px;
  }
  .line_firts {
    width: 250px;
  }
  .paragraph_firt {
    font-size: 1.8rem;
    padding: 0;
  }

  .section_about {
    height: 80vh;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .tittles {
    font-size: 50px;
  }
  .section_about .line {
    width: 250px;
  }
  .paragraph_about {
    width: 333px;
    height: 162px;
    margin: 0 1rem;
    font-size: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .section_about .container_tittle {
    grid-row: 2/2;
    grid-column: 1/2;
    margin: 0 2rem;
  }

  .section_about .container_tittle h2 {
    font-size: 50px;
  }
  .section_skrills {
    background: none;
    box-shadow: none;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .container_skills {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    background: #161616;
    box-shadow: 30px 30px 60px #090909, -30px -30px 60px #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0;
  }
  .section_skrills .container_tittle {
    margin-bottom: 3rem;
  }
  .skills {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
  }

  .techonologies_container {
    height: 80vh;
  }
  .technologies_skills {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container_slide{
    width: 500px;
  }
  .slide {
   margin-left:0 ;
    width: 300%;}

}
