---
import Aside from "@/src/components/Aside";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio - Lú</title> 
  </head>
  <body class="bg-[#121212]">
    <main
      class="min-w-[259px] m-[15px_12px]  sm:mt-[60px] sm:mb-[100px] xl:max-w-[1400px] xl:mx-auto xl:flex xl:gap-x-8"
    >
      <Aside client:load  />
	  
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
	font-family:'Poppins', sans-serif;
  }
 
</style>
